
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
**/data/** 

# Ignore the data folder
data/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
env/
.venv/

# Ignore Jupyter Notebook metadata
*.ipynb_checkpoints

# Ignore environment and configuration files
*.env
*.config
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor settings
.vscode/

